.appBackground {
  background-color: #f3f4f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 377px;
  height: 290px;
  background-color: white;
  border-radius: 6px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.boardTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

/* Input field */
.inputContainer {
  display: flex;
  gap: 6px;
}

.inputBox {
  flex: 1;
  height: 38px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.inputBox::placeholder {
  color: #a1a1aa;
}

.button {
  width: 69px;
  height: 38px;
  background-color: #3c82f6;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Inter", sans-serif;

  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:active {
  background-color: #1e60d7;
}

/* Tabs */
.tabContainer {
  display: flex;
  gap: 6px;
}

.tabItem {
  padding: 8.5px 12px;
  background-color: #f3f4f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #363636;
  text-align: center;
}
.tabItem.activeTab {
  background-color: #3c82f6;
  color: white;
}
.tabItem:hover {
  background-color: #f3f4f6;
}

.taskContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;
}

.taskItem {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.taskItem:hover {
  background-color: #f9fafb;
}
